@model MVCApplication.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Input</h2>

<br />

<p>With this text analysis tool, I try to show how writers 'paint' with words. I do this be re-ordering their text(s), first according to word-use frequency, and secondly according to inverse-alphabetical order.</p>

<p>The goal is to show the writer's style, word choice and other characteristics in new ways.</p>

<p>--Thomas Park, 2019</p>

<br />

<form action='Home/Result' method='POST' align="left">
    <label>
        Please enter text to analyze (10000 or fewer words):
    </label><br><br>
        <input name="content" type="text" value="" />
    <br /><br />
    <input type="submit" value="Analyze Text" />

</form>
