@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Results:</h2>

@if (Model.retDict != null)
{


    <h4>The analyzed text would be:</h4>

    @foreach (KeyValuePair<string, int> item in Model.retDict)
    {
        @for (int i = 0; i < item.Value; i++)
        {
            @item.Key  

}

    }

}

<br />

<br />

<p>@Model.Error</p><br />

